flows.json
[
    {
        "id": "8f7a52251be75d34",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a4c34dbc4a0ca02",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18ff42b0198899af",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df594b44a3526692",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e178eed6810393c",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86d7ff1af9e98017",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54fb0bf514309af1",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2110cca9d7e39da3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a1d5207d6535f53e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b87bde9ce918628a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "50669e1dcd3f6bf6",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "b87bde9ce918628a",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "04bb247b3a9a9aab",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "04bb247b3a9a9aab",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3b0e625f28db9372",
        "type": "ui-group",
        "name": "Weather",
        "page": "50669e1dcd3f6bf6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7fa7e0bbc1bed4de",
        "type": "ui-group",
        "name": "Group Name",
        "page": "50669e1dcd3f6bf6",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "dialog"
    },
    {
        "id": "d5e81ffb57a0f140",
        "type": "inject",
        "z": "8f7a52251be75d34",
        "name": "Fake Sensor Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/temperature",
        "payload": "( Math.random() * (30 - 25) ) + 25",
        "payloadType": "json",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b90cab7d25c6e8f4"
            ]
        ]
    },
    {
        "id": "b90cab7d25c6e8f4",
        "type": "mqtt out",
        "z": "8f7a52251be75d34",
        "name": "Send Fake Data",
        "topic": "sensor/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2110cca9d7e39da3",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "563a691537c384aa",
        "type": "mqtt in",
        "z": "8f7a52251be75d34",
        "name": "Auto-detect (parsed JSON)",
        "topic": "sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d5207d6535f53e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "1b3505b302bbac20"
            ]
        ]
    },
    {
        "id": "8e8aef0579e8820b",
        "type": "debug",
        "z": "8f7a52251be75d34",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "caab1f5ec6c4f9c2",
        "type": "file",
        "z": "8f7a52251be75d34",
        "name": "",
        "filename": "temperature.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "setbymsg",
        "x": 840,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1b3505b302bbac20",
        "type": "json",
        "z": "8f7a52251be75d34",
        "name": "Parse JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "b701d24cbdc8e3d1",
                "caab1f5ec6c4f9c2",
                "8e8aef0579e8820b"
            ]
        ]
    },
    {
        "id": "b701d24cbdc8e3d1",
        "type": "ui-gauge",
        "z": "8f7a52251be75d34",
        "name": "",
        "group": "7fa7e0bbc1bed4de",
        "order": 1,
        "value": "msg.payload.temperature",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6ff1f09b058e39b5",
        "type": "http in",
        "z": "9a4c34dbc4a0ca02",
        "name": "hello",
        "url": "http://localhost:1880/hello",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "a3d522acaf995409"
            ]
        ]
    },
    {
        "id": "449faf46ea31cc4e",
        "type": "http response",
        "z": "9a4c34dbc4a0ca02",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "a3d522acaf995409",
        "type": "template",
        "z": "9a4c34dbc4a0ca02",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n\n<head></head>\n\n<body>\n    <h1>Hello World!</h1>\n</body>\n\n</html>",
        "output": "str",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "449faf46ea31cc4e"
            ]
        ]
    },
    {
        "id": "73ed684180c9bb41",
        "type": "http in",
        "z": "18ff42b0198899af",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "7520869d05359ba1"
            ]
        ]
    },
    {
        "id": "7520869d05359ba1",
        "type": "template",
        "z": "18ff42b0198899af",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <body>\n    <h1>Hello World!</h1>\n  </body>\n</html>\n",
        "output": "str",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "0b7fdb0c2dc3cbdd"
            ]
        ]
    },
    {
        "id": "0b7fdb0c2dc3cbdd",
        "type": "http response",
        "z": "18ff42b0198899af",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "cb584710f270ccf0",
        "type": "http in",
        "z": "df594b44a3526692",
        "name": "",
        "url": "/chat",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "a5a2b4dcf165ead9"
            ]
        ]
    },
    {
        "id": "a5a2b4dcf165ead9",
        "type": "function",
        "z": "df594b44a3526692",
        "name": "function 1",
        "func": "let q = msg.req.query.q;\nif (q === \"hi\") msg.payload = \"Hello!\";\nelse if (q === \"bye\") msg.payload = \"Goodbye!\";\nelse msg.payload = \"I don't understand.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "651e2c63648a23c8"
            ]
        ]
    },
    {
        "id": "651e2c63648a23c8",
        "type": "http response",
        "z": "df594b44a3526692",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "f9e363d0a5fa0b9c",
        "type": "http in",
        "z": "6e178eed6810393c",
        "name": "",
        "url": "/quote",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "7e01a549807839b4"
            ]
        ]
    },
    {
        "id": "7e01a549807839b4",
        "type": "function",
        "z": "6e178eed6810393c",
        "name": "function 2",
        "func": "let quotes = [\n  \"Học đi đôi với hành.\",\n  \"Kiến tha lâu đầy tổ.\",\n  \"Thất bại là mẹ thành công.\"\n];\nmsg.payload = quotes[Math.floor(Math.random() * quotes.length)];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "860f9a264d2ff5c6"
            ]
        ]
    },
    {
        "id": "860f9a264d2ff5c6",
        "type": "http response",
        "z": "6e178eed6810393c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "7030337d10860c92",
        "type": "inject",
        "z": "86d7ff1af9e98017",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "e09597903292fc04"
            ]
        ]
    },
    {
        "id": "e09597903292fc04",
        "type": "function",
        "z": "86d7ff1af9e98017",
        "name": "function 3",
        "func": "msg.payload = {\n    temperature: Math.floor(Math.random() * (35 - 20 + 1)) + 20, // 20–35°C\n    humidity: Math.floor(Math.random() * (90 - 50 + 1)) + 50     // 50–90%\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "f9dab2472c647d4c"
            ]
        ]
    },
    {
        "id": "39c6ac3217e1cd4a",
        "type": "ui-gauge",
        "z": "86d7ff1af9e98017",
        "name": "",
        "group": "3b0e625f28db9372",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "44aa4c865b46b44d",
        "type": "ui-chart",
        "z": "86d7ff1af9e98017",
        "group": "7fa7e0bbc1bed4de",
        "name": "",
        "label": "chart",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f9dab2472c647d4c",
        "type": "split",
        "z": "86d7ff1af9e98017",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "44aa4c865b46b44d",
                "39c6ac3217e1cd4a"
            ]
        ]
    },
    {
        "id": "a0ee70c6e9fac403",
        "type": "inject",
        "z": "54fb0bf514309af1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "85dd413f86e69f11"
            ]
        ]
    },
    {
        "id": "85dd413f86e69f11",
        "type": "function",
        "z": "54fb0bf514309af1",
        "name": "function 4",
        "func": "let now = new Date().toLocaleTimeString();\n\nmsg.payload = {\n    time: now,\n    temperature: Math.floor(Math.random() * (35 - 20 + 1)) + 20, // 20-35\n    humidity: Math.floor(Math.random() * (90 - 50 + 1)) + 50     // 50-90\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "0e0cb6770f646f28"
            ]
        ]
    },
    {
        "id": "0e0cb6770f646f28",
        "type": "function",
        "z": "54fb0bf514309af1",
        "name": "function 5",
        "func": "// Lưu vào context để giữ dữ liệu cũ\nlet rows = flow.get(\"rows\") || [];\n\n// Thêm bản ghi mới\nrows.push(msg.payload);\n\n// Giới hạn số dòng (ví dụ 10 dòng)\nif (rows.length > 10) {\n    rows.shift();\n}\n\n// Lưu lại\nflow.set(\"rows\", rows);\n\nmsg.payload = rows;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "6b9e83b06ff03137"
            ]
        ]
    },
    {
        "id": "6b9e83b06ff03137",
        "type": "ui-table",
        "z": "54fb0bf514309af1",
        "group": "3b0e625f28db9372",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": "",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 790,
        "y": 100,
        "wires": [
            []
        ]
    }
]